@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family:'Poppins', sans-serif;
    background-image: url("crocheticon.png");
    background-repeat: repeat;
    width: 100%;
    overflow: hidden; 
}

p, .order {
    background-color: white;
    width: 50%;
    text-align: center;
    margin: auto;
}